body {
    background: #010409;
    font-family: "Poppins", sans-serif;
    color: #00eaff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 380px;
    padding: 25px;
    border-radius: 15px;
    background: #0d1117;
    box-shadow: 0 0 20px rgba(0,255,255,0.2);
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from { box-shadow: 0 0 10px cyan; }
    to { box-shadow: 0 0 25px cyan; }
}

h2 {
    margin-bottom: 15px;
    color: #00ffc6;
    text-shadow: 0 0 10px #00ffc6;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #161b22;
    color: white;
    font-size: 15px;
}

input::placeholder {
    color: #9aa0a6;
}

.btn {
    width: 90%;
    padding: 12px;
    border: none;
    margin-top: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    transition: .2s;
    font-size: 15px;
}

.green { background: #2ecc71; }
.yellow { background: #f1c40f; }
.red { background: #e74c3c; }

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px white;
}

.result {
    margin-top: 18px;
    font-size: 18px;
    color: #00e1ff;
    font-weight: bold;
    text-shadow: 0 0 8px cyan;
}